.container {
  display: grid;
  grid-template-rows: 14% 8% 78%;
  transition: 0.5s;
}
.input {
  display: flex;
  justify-content: center;
  align-self: center;
}
::placeholder {
  color: rgba(255, 255, 255, 0.557);
}
.date {
  display: flex;
  justify-content: center;
  align-self: center;
}
