@font-face {
  font-family: "Outfit";
  src: url(../public/font/Outfit-Medium.ttf);
}
body {
  margin: 0;
  background-image: url(../public/back.jpg);
  background-attachment:scroll;
  background-repeat: repeat;
  background-origin: content-box;
}
.container {
  font-family: "Outfit";
  height: 100vh;
  display: grid;
  color: white;
  grid-template-rows: 8% 4% 44% 44%;
  transition: 0.5s;
}
.input {
  display: flex;
  justify-content: center;
  align-self: center;
}
::placeholder {
  color: rgba(255, 255, 255, 0.557);
}
.date {
  display: flex;
  justify-content: center;
  align-self: center;
}
.weather_static {
  display: flex;
  justify-content: space-around;
  align-self: self-start;
}

.button {
  position: absolute;
}
@media screen and (max-width: 600px) {
  .weather_static {
    flex-direction: column;
  }
}
